<p ng-show="mensagem.texto">
  {{mensagem.texto}}
</p>

<div class="jumbotron">
  <h1 class="text-center">
    Bem vindo ao SigaMe Web
  </h1>
</div>

<a href="#/trabalho" class="btn btn-primary">Novo Trabalho</a>
<input ng-model="filtro" type="search" placeholder="parte do nome">

<p>Trabalhos Cadastrados: {{trabalhos.length}}</p>

<div ng-show='trabalhos.length' class="table table-responsive">
  <table class="table table-striped" cellspacing="0">
    <tr>
   
      <th>M</th>
      <th>T</th>
      <th>OP</th>
      <th>Orçamento</th>      
      <th>Cliente</th>
      <th>Trabalho</th>
      <th>Qtde</th>
      <th>Entrega</th>
      <th>Vendedor</th>
      <th>Apontamento</th>
      <th>Setor</th>    
      <th class="text-center">Ação</th>
    </tr>

    <tr ng-repeat="trabalho in trabalhos | filter:filtro">
      
      <td>{{trabalho.modo.icone}}</td>
      <td>{{trabalho.tipo.icone}}</td>
      <td>{{trabalho.numeroOP}}</td>
      <td>{{trabalho.numeroOrcamento}}</td>
      <td><a ng-href="#/trabalhos/{{trabalho._id}}">{{trabalho.cliente.nome}}</a></td>
      <td><a>{{trabalho.trabalho}}</a></td>
      <td>trabalho.quantidade</td>
      <td>{{trabalho.entrega}}</td>
      <td>{{trabalho.vendedor.nome}}</td>
      <td>{{trabalho.apontamento.nome}}</td>
      <td>{{trabalho.setor.nome}}</td>




      <td class="text-center">
        <button type="button" class="btn btn-default btn-xs" ng-click="remove(trabalho)">
        <span class="glyphicon glyphicon glyphicon-trash"></span>
        </button>
      </td>
      
    </tr>
  </table>
</div>